<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Awwwards</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Submit your site</a></li>
      <li><a href="#">Winners</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
    
    <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search   Project" name="pro" style="font-family:FontAwesome;text-align:center;">
      </div>
  </div>
</nav>